# Python
__pycache__/
*.pyc
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.local

# Logs
# logs/
# *.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# keys
keys/
archive/